<% include ../partials/header %>

<div class="container">
    <div class="row justify-content-center py-4">
        <div class="col-lg-11 col-md-12 rounded border py-4">
            <h2><%= blog.title %></h2>
            <h5>Written by: <%= blog.author.username %></h5>
            <div class="lead pb-3">
                <span><%= moment(blog.created).format('MMMM Do, YYYY h:mma') %></span>
            </div>
            <div class="rounded">
                <img src="<%= blog.image %>" class="img-fluid" alt="Responsive image">
            </div>

            <div class="description mb-3">
                <!-- you put a dash instead of a = to allow html  -->
                <p><%- blog.body %></p> 
            </div>
            <% if(currentUser && blog.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                <a class="btn btn-warning" href="/blogs/<%= blog._id%>/edit">Edit</a>
                <form class="delete-form" action="/blogs/<%= blog._id%>?_method=DELETE" method="post">
                    <button class="btn btn-danger">Delete</button>
                </form>
            <% } %>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="text-right">
                <a href="/blogs/<%= blog._id %>/comments/new" class="btn btn-success">Add New Comment</a>
            </div>
            <hr>
            <div class="row"> 
                <% blog.comments.forEach(function(comment){ %>
                    <div class="col-md-12 mb-2"> 
                        <div class="card"> 
                            <div class="card-body"> 
                                <div class="float-left"> 
                                    <p class="card-title"><%= comment.author.username %></p>
                                    <p class="card-text font-weight-light"><%= comment.text %></p>
                                </div> 
                                <div class="float-right"> 
                                    <p><%= moment(comment.created).format('M/D/YY [at] h:mma') %></p>
                                    <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                        <a href="/blogs/<%=blog._id %>/comments/<%= comment._id %>/edit" 
                                            class="btn btn-xs btn-warning">Edit
                                        </a>
                                        <form class="delete-form" action="/blogs/<%=blog._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                            <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                                        </form>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>    
</div>


<% include ../partials/footer %>
